<!DOCTYPE html>
<html>
    <head>
        <li>name: <%= user.name %> </li>
        <li>email: <%= user.name %> </li>
        <li>description: <%= user.name %> </li>
        <li>rating: <%= user.rating %></li>
    </head>
    <body>
        <div></div>
    </body>
</html>