<html>
<head>
  <title>Hitchhikers</title>

       <% include ./partials/header %>


</head>
<body>


<!-- *********** NAVIGATION BAR  ************** -->

 <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="color: black;">Hitchhikers</h1>
              <h3 stlye="color: black;">You never thought you'd get paid for travelling.</h3>
                        <hr>
                        <button class="btn btn-default btn-lg" style="padding-bottom: 40px;"><a href="/login">Get On The Road </a>  <i class="fa fa-thumbs-o-up" style="font-size:25px" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

<!-- Date picker form -->
<div id="begin-trip">
<!--<section >-->
<!--    <div class="container begin-trip" style="padding-bottom: 70px;">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          <h1>Start Your Trip</h1>-->
<!--          <p style="font-size: 15px; text-align: center;"><span style="font-family: 'Pacifico', cursive; font-size: 20px; ">Hitchhikers </span>is a platform that seeks to connect travellers with similar departure and arrival cities redefining terrestrial transportation services,<b> providing a more affordable and comfortable alternative to buses.</b> </p>-->


<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section id="trip-input">-->
<!--<div class="container">-->
  <!-- Form code begins -->
<!--  <form method="post">-->
<!--    <div class="row">-->
<!--      <div class="col-md-4 col-sm-12 col-xs-12">-->
<!--        <div class="form-group">-->
<!--          <label for="sel1">City of Origin: </label>-->
<!--          <select class="form-control" id="sel1">-->
<!--            <option>Montreal</option>-->
<!--            <option>Ottawa</option>-->
<!--            <option>Quebec City</option>-->
<!--            <option>Toronto</option>-->
<!--          </select>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-4 col-sm-12 col-xs-12">-->
<!--        <div class="form-group">-->
<!--          <label for="sel1">City of Destination: </label>-->
<!--          <select class="form-control" id="sel1">-->
<!--            <option>Montreal</option>-->
<!--            <option>Ottawa</option>-->
<!--            <option>Quebec City</option>-->
<!--            <option>Toronto</option>-->
<!--          </select>-->
<!--        </div>-->
<!--      </div>-->
    
<!--     <div class="col-md-4 col-sm-12 col-xs-12">-->
<!--        <div class="form-group"> <!-- Date input -->-->
<!--          <label class="control-label" for="date">Date</label>-->
<!--          <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-12 form-group"> <!-- Submit button -->-->
<!--          <button class="btn btn-default btn-block" name="tripPost" type="submit">Submit</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
     <!-- Form code ends --> 


<!--  </div>    -->
<!--</section>-->

</div>

     <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center" style="padding-top: 40px; padding-bottom: 40px;">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="service-item wow bounceInUp">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-usd fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Minimize Costs</strong>
                                </h4>
                                <p>Cheaper than a bus, cheaper than a train, cheaper than driving on your own. Sharing costs is the way to go.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="service-item wow bounceInUp">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-smile-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Maximize Comfort</strong>
                                </h4>
                                <p>Travel in a car instead of a bus with the freedom of stopping and stretching whenever you want.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="service-item wow bounceInUp">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-group fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Sharing is Caring</strong>
                                </h4>
                                <p>CO2 will inevitably be reduced by having less cars on the road and less empty seats. Everyone wins.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

        <section id="contact" class="map">
        <iframe width="100%" height="50%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
<!--         <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small> -->
    </section>

        <!-- Footer -->
    <footer>
        <div class="container footer" style="padding-top: 40px;">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Hitchhikers</strong>
                    </h4>
                    <p>3630 University St

                        <br>Montreal, QC H3A 2B2</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">frontdesk@hitchhikers.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#" ><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube-play fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <p class="text-muted">Copyright &copy; Hitchhikers 2017</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>
</body>
</html>